<!DOCTYPE html>
<!--Déclarer le namespace xmlns de thymeleaf avec le préfixe qu'on utilise qui est th -->
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Panier</title>
    <!-- Design bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- LINK CSS FILE -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
    <link href="https://zupimages.net/up/21/06/gqsr.jpg" rel="icon"
          type="image/png"/>

</head>
<body>
<!-- DEBUT HEADER -->
<div class="header-container">
    <div class="site-name">
        <a href="https://zupimages.net/viewer.php?id=21/06/rcrz.png"><img
                alt="" height="60x" src="https://zupimages.net/up/21/06/rcrz.png"
                width="250x">
        </a>
    </div>
    <div class="header-bar">
        <!--BOUTONS -->
        <form method="post" name="logoutForm" th:action="@{/logout}">
            <h7 style="color:royalblue;font-weight:bold;"> Bienvenue</h7>
            <h7 sec:authentication="name" style="color:royalblue;font-weight:bold;">
            </h7>
            <button class="btn" style="background: #0998A4; color: white" type="submit"
                    value="Sign Out">Déconnexion
            </button>

            <button class="btn" style="background: #0998A4; color: white"
                    type="button">
                Favoris <span class="fa fa-heart"></span>
            </button>
        </form>
        <!--BOUTONS -->
    </div>
</div>
<!-- FIN HEADER -->
<div class="card-header">
    <h6 style="color: #0998A4; font-size: 200%; font-family: fantasy;">Contenu
        actuel de votre panier</h6>
    <button class="btn" onclick="window.location='products'" style="background: #0998A4; color: white"
            type="button">
        Ajouter d'autres articles <span class="fa fa-shopping-cart"></span>
    </button>
    <!-- PRESENTATION DES PRODUITS  -->
    <div class="form-row justify-content-center">
        <div class="col-lg-7">
            <div class="card mt-2 ml-5">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Désignation</th>
                            <th>Prix</th>
                            <th>Photo</th>
                            <th></th>
                        </tr>
                        <tr th:each="p:${pageProduitsPanier}">


                            <td th:text="${p.prix}"></td>
                            <td><img alt="PhotoProduit" style="width: 50px; height: 50px"
                                     th:src="${p.photo}"></td>
                            <td><a
                                    class="btn btn-danger"
                                    onclick="javascript:return confirm('Voulez-vous vraiment retirer ce produit de votre panier ?')"
                                    th:href="@{/deleteProduitPanier(id=${p.id})}"> Supprimer</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- PRESENTATION DES PRODUITS  -->
        <!-- RECAPITULATIF  -->
        <div class="col-lg-4">
            <div class="card mt-1 ml-5">
                <div class="card-body">
                    <table class="table" id="table_recapitulatif">
                        <tr>
                            <th colspan="2">RECAPITULATIF</th>
                        </tr>
                        <tr>
                            <td>Panier</td>
                            <td><span th:text="${prixTotal} + ' €'"></span></td>
                        </tr>
                        <tr>
                            <td>Frais de livraison estimés</td>
                            <td>Gratuit</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">TOTAL</td>
                            <td style="font-weight: bold;"><span
                                    th:text="${prixTotal} + ' €'"></span></td>
                        </tr>

                        <tr>
                            <td colspan="2"><a class="btn" style="background: #0998A4; color: white"
                                               th:href="@{/payment}" type="button">
                                Valider votre Panier <span class="fa fa-shopping-cart"></span>
                            </a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN RECAPITULATIF  -->

    <!-- DEBUT FOOTER -->

    <footer class="page-footer" style="color: white; background: #0998A4;">
        <hr>

        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">ShopEnLigne</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px;">
                    <p>Le contenu de ce site est protégé par la loi du copyright.</p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Produits</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px;">
                    <p>
                        <a href="#!" style="color: white;">Femme</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white;">Homme</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white;">Accessoires</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white;">Promotions</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Help</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px;">
                    <p>
                        <a href="#!" style="color: white;">Service Client</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white;">Mon compte</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white;">Magasin</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white;">Mentions Légales</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px;">
                    <p>
                        <i class="fa fa-home mr-3"></i> Paris,75000
                    </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> ShopEnLigne@gmail.com
                    </p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> + 01 000 000 00
                    </p>
                    <p>
                        <i class="fa fa-print mr-3"></i> + 01 000 000 00
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:TuniShop tous droits réservés <a href="#"
                                                              style="color: white;"></a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- FIN Footer -->
</div>
</body>
</html>
